<a href="https://colab.research.google.com/github/ormastroni/fundamentos-python/blob/main/aula12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Desenvolvimento Python

## Prof. Andre Victor

### DataFrames

DataFrames são estruturas de dados providas pelo biblioteca pandas que oferecem a abstração do modelo relacional de dados, isto é, os dados são organizados em linhas e colunas e podem ser acessados e indexados pelo seu posicionamento e por suas colunas, similar ao que ocorre com as séries.

A grande diferença dos dataframes para as séries é que os dataframes são estruturas multidimensionais. Ambas são indexadas por uma chave/índice. Entretanto, a chave em uma série é mapeada para um valor atômico, ao passo que no dataframe a chave é mapeada para múltiplos valores, um de cada Série diferente. Na prática, um dataframe é uma estrutura que colapsa várias séries numa única estrutura.

<div align='center'>
<img src='https://drive.google.com/uc?id=184DHjqiuChmbWtLiFR6ETby4gQqs1eAf' width=50% height=50%>
</div>

Fonte da imagem: https://towardsdatascience.com/how-to-master-pandas-for-data-science-b8ab0a9b1042

In [ ]:
import pandas as pd

### Criação de dataframes

Dicionários podem ser criados a partir de múltiplas formas. A forma mais usual é partir da execução de consultas SQl em tabelas de banco de dados ou através de carga de arquivos externos, como os arquivos CSV.

Entretanto, é possível criar dataframes explicitamente através de listas, tuplas, dicionários e Séries. Vamos ver algumas abordagens por aqui.

Por exemplo, um dataframe pode ser criado a partir de uma lista de tuplas

In [ ]:
lista = [
    ('andre', '1234', 24),
    ('joao', '4567', 33),
    ('cecilia', '7890', 18),
    ('maria', '2345', 22)
]

In [ ]:
df_pessoas = pd.DataFrame(lista)
df_pessoas

         0     1   2
0    andre  1234  24
1     joao  4567  33
2  cecilia  7890  18
3    maria  2345  22

In [ ]:
print(df_pessoas)

         0     1   2
0    andre  1234  24
1     joao  4567  33
2  cecilia  7890  18
3    maria  2345  22

In [ ]:
type(df_pessoas)

pandas.core.frame.DataFrame

In [ ]:
df_pessoas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

DataFrames são estruturas indexáveis similares à listas, dicionários e séries

In [ ]:
df_pessoas.loc[0,1]

'1234'

In [ ]:
df_pessoas.loc[1]

0    joao
1    4567
2      33
Name: 1, dtype: object

In [ ]:
df_pessoas.loc[0:2, 1:2]

      1   2
0  1234  24
1  4567  33
2  7890  18

In [ ]:
df_pessoas.loc[1:2,1:2]

      1   2
1  4567  33
2  7890  18

Porém a manipulação de dataframes é mais intuitiva quando fazemos acesso aos dados a partir do nome atribuído às colunas, e não por índices de posicionamento

In [ ]:
df_pessoas.columns = ['Nome', 'Matr', 'Idade']

In [ ]:
df_pessoas

      Nome  Matr  Idade
0    andre  1234     24
1     joao  4567     33
2  cecilia  7890     18
3    maria  2345     22

In [ ]:
df_pessoas['Nome']

0      andre
1       joao
2    cecilia
3      maria
Name: Nome, dtype: object

In [ ]:
df_pessoas[['Nome']]

      Nome
0    andre
1     joao
2  cecilia
3    maria

In [ ]:
df_pessoas[['Matr', 'Idade']]

   Matr  Idade
0  1234     24
1  4567     33
2  7890     18
3  2345     22

Dataframes também podem ser criados a partir de dicionário de tuplas ou de listas

In [ ]:
nomes = ['andre', 'joao', 'cecilia', 'maria']
idades = [24, 33, 18, 22]
matric = ['1234', '4567', '7890', '2345']

In [ ]:
tupla_nomes = tuple(nomes)
tupla_idades = tuple(idades)
tupla_matric = tuple(matric)

In [ ]:
tupla_nomes

('andre', 'joao', 'cecilia', 'maria')

In [ ]:
pd.DataFrame({'nomes': nomes, 'idades': idades, 'matric': matric})

     nomes  idades matric
0    andre      24   1234
1     joao      33   4567
2  cecilia      18   7890
3    maria      22   2345

In [ ]:
pd.DataFrame({'nomes': tupla_nomes, 'idades': tupla_idades, 'matric': tupla_matric})

     nomes  idades matric
0    andre      24   1234
1     joao      33   4567
2  cecilia      18   7890
3    maria      22   2345

### Acesso aos dados do Dataframe

Similar aos métodos de acesso de Series.

Vamos trabalhar novamente com o dataframe da Play Store

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir("/content/drive/My Drive/Colab Notebooks/fundamentos python/datasets")

In [ ]:
df_apps = pd.read_csv('googleplaystore.csv')
df_apps

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10836                                   Sya9a Maroc - FR  ...          4.1 and up
10837                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                             Parkinson Exercices FR  ...          2.2 and up
10839                      The SCP Foundation DB fr nn5n  ...  Varies with device
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10841 rows x 13 columns]

In [ ]:
df_apps.dropna(subset=['Rating'])

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10834                                      FR Calculator  ...          4.1 and up
10836                                   Sya9a Maroc - FR  ...          4.1 and up
10837                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10839                      The SCP Foundation DB fr nn5n  ...  Varies with device
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[9367 rows x 13 columns]

In [ ]:
df_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [ ]:
df_apps['Reviews'] = df_apps['Reviews'].astype(int)

ValueError: ignored

In [ ]:
df_apps[df_apps['Reviews'] == '3.0M']

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [ ]:
df_apps.loc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                                 19
Reviews                                              3.0M
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

In [ ]:
df_apps.loc[10472, 'Reviews'] = 3000000

In [ ]:
df_apps.loc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                                 19
Reviews                                           3000000
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

In [ ]:
df_apps['Reviews'] = df_apps['Reviews'].astype(int)

In [ ]:
df_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [ ]:
df_amostra = df_apps.sample(n=3)

In [ ]:
df_amostra

                                 App  ...   Android Ver
1971  Jewels Legend - Match 3 Puzzle  ...  4.0.3 and up
4674                          V Made  ...  4.0.3 and up
7676                  CP Creepypasta  ...  4.0.3 and up

[3 rows x 13 columns]

In [ ]:
df_amostra.loc[1971, 'Rating']

4.6

In [ ]:
df_amostra.iloc[0,2]

4.6

In [ ]:
df_amostra.iloc[0, 2]

2.9

In [ ]:
df_amostra.loc[7014, 'Rating']

3.7

In [ ]:
df_apps.loc[8250:8255, 'Category':'Reviews']

             Category  Rating  Reviews
8250           FAMILY     4.3    43090
8251           FAMILY     4.2     2557
8252             GAME     4.5      937
8253           FAMILY     4.3   139545
8254             GAME     4.3    22333
8255  PERSONALIZATION     4.2      249

In [ ]:
df_apps.loc[[8250, 10472], ['Category', 'Rating', 'Size']]

      Category  Rating    Size
8250    FAMILY     4.3     95M
10472      1.9    19.0  1,000+

In [ ]:
df_apps.at[8250, 'Reviews']

43090

In [ ]:
df_apps.loc[8250:8255, 'Category':'Reviews'].iat[0,2]

43090

### Tratamento de dados

In [ ]:
def trata_size(valor):
  result = valor.replace('M', '')
  result = valor.replace('k', '')
  return result

In [ ]:
trata_size('2.0M')

'2.0'

In [ ]:
trata_size('M3.4M5')

'3.45'

In [ ]:
df_apps['Size_N'] = df_apps['Size'].apply(trata_size)

In [ ]:
df_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
 13  Size_M          10841 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 1.2+ MB

In [ ]:
df_apps.head()

                                                 App  ... Size_M
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...    19M
1                                Coloring book moana  ...    14M
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...   8.7M
3                              Sketch - Draw & Paint  ...    25M
4              Pixel Draw - Number Art Coloring Book  ...   2.8M

[5 rows x 14 columns]

In [ ]:
df_apps['Size_M']

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size_M, Length: 10841, dtype: object

In [ ]:
df_apps.head()

                                                 App  ... Size_M
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...    19M
1                                Coloring book moana  ...    14M
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...   8.7M
3                              Sketch - Draw & Paint  ...    25M
4              Pixel Draw - Number Art Coloring Book  ...   2.8M

[5 rows x 14 columns]

In [ ]:
df_apps.tail()

                                                 App  ...              Size_M
10836                               Sya9a Maroc - FR  ...                  53
10837               Fr. Mike Schmitz Audio Teachings  ...                 3.6
10838                         Parkinson Exercices FR  ...                 9.5
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...                  19

[5 rows x 14 columns]

In [ ]:
df_apps_com_tam = df_apps[df_apps['Size_M'] != 'Varies with device']

In [ ]:
df_apps_com_tam.size

128044

In [ ]:
df_apps.size

151774

In [ ]:
df_apps_com_tam.tail()

                                                 App  ... Size_M
10835                                       FR Forms  ...   9.6M
10836                               Sya9a Maroc - FR  ...    53M
10837               Fr. Mike Schmitz Audio Teachings  ...   3.6M
10838                         Parkinson Exercices FR  ...   9.5M
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...    19M

[5 rows x 14 columns]

In [ ]:
df_apps_com_tam.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9146 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9146 non-null   object
 1   Category        9146 non-null   object
 2   Rating          7730 non-null   float64
 3   Reviews         9146 non-null   int64
 4   Size            9146 non-null   object
 5   Installs        9146 non-null   object
 6   Type            9146 non-null   object
 7   Price           9146 non-null   object
 8   Content Rating  9145 non-null   object
 9   Genres          9146 non-null   object
 10  Last Updated    9146 non-null   object
 11  Current Ver     9138 non-null   object
 12  Android Ver     9143 non-null   object
 13  Size_M          9146 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 1.0+ MB

In [ ]:
df_apps_com_tam['Size_M'] = df_apps_com_tam['Size_M'].astype(float)

ValueError: ignored

In [ ]:
df_apps['Size'].value_counts()

Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
283k                     1
775k                     1
784k                     1
526k                     1
41k                      1
Name: Size, Length: 462, dtype: int64

### Agrupamento de dados

Dados podem ser agrupados por um ou mais atributos. Ao realizar um agrupamento, o atributo de grupo torna-se a chave do dataframe resultante

In [ ]:
df_apps_tipo = df_apps.groupby(['Category']).sum()

In [ ]:
df_apps_tipo

                     Rating     Reviews
Category
1.9                    19.0     3000000
ART_AND_DESIGN        270.2     1714440
AUTO_AND_VEHICLES     305.9     1163666
BEAUTY                179.7      396240
BOOKS_AND_REFERENCE   773.6    21959069
BUSINESS             1248.8    13954552
COMICS                241.0     3383276
COMMUNICATION        1364.0   815462260
DATING                774.3     7291278
EDUCATION             680.3    39595786
ENTERTAINMENT         614.8    59178154
EVENTS                199.6      161018
FAMILY               7323.9   410226330
FINANCE              1334.6    17550728
FOOD_AND_DRINK        454.2     8883330
GAME                 4702.1  1585422349
HEALTH_AND_FITNESS   1270.3    37893743
HOUSE_AND_HOME        319.0     3976385
LIBRARIES_AND_DEMO    271.6     1037118
LIFESTYLE            1285.8    12882784
MAPS_AND_NAVIGATION   502.4    30659254
MEDICAL              1466.2     1585975
NEWS_AND_MAGAZINES    962.8    54400863
PARENTING             215.0      958331
PERSONALIZATION      1361.5    89346140
PHOTOGRAPHY          1328.9   213516650
PRODUCTIVITY         1478.2   114116975
SHOPPING             1013.8   115041222
SOCIAL               1102.2   621241422
SPORTS               1347.3    70830169
TOOLS                2970.8   273185044
TRAVEL_AND_LOCAL      928.7    62617919
VIDEO_PLAYERS         650.2   110380188
WEATHER               318.3    14604735

In [ ]:
serie_tipo = df_apps.groupby(['Category']).sum()['Reviews']

In [ ]:
serie_tipo

Category
1.9                       3000000
ART_AND_DESIGN            1714440
AUTO_AND_VEHICLES         1163666
BEAUTY                     396240
BOOKS_AND_REFERENCE      21959069
BUSINESS                 13954552
COMICS                    3383276
COMMUNICATION           815462260
DATING                    7291278
EDUCATION                39595786
ENTERTAINMENT            59178154
EVENTS                     161018
FAMILY                  410226330
FINANCE                  17550728
FOOD_AND_DRINK            8883330
GAME                   1585422349
HEALTH_AND_FITNESS       37893743
HOUSE_AND_HOME            3976385
LIBRARIES_AND_DEMO        1037118
LIFESTYLE                12882784
MAPS_AND_NAVIGATION      30659254
MEDICAL                   1585975
NEWS_AND_MAGAZINES       54400863
PARENTING                  958331
PERSONALIZATION          89346140
PHOTOGRAPHY             213516650
PRODUCTIVITY            114116975
SHOPPING                115041222
SOCIAL                  621241422
SPORTS                   70830169
TOOLS                   273185044
TRAVEL_AND_LOCAL         62617919
VIDEO_PLAYERS           110380188
WEATHER                  14604735
Name: Reviews, dtype: int64

In [ ]:
serie_rating = df_apps.groupby(['Category']).mean()['Rating']

In [ ]:
serie_rating

Category
1.9                    19.000000
ART_AND_DESIGN          4.358065
AUTO_AND_VEHICLES       4.190411
BEAUTY                  4.278571
BOOKS_AND_REFERENCE     4.346067
BUSINESS                4.121452
COMICS                  4.155172
COMMUNICATION           4.158537
DATING                  3.970769
EDUCATION               4.389032
ENTERTAINMENT           4.126174
EVENTS                  4.435556
FAMILY                  4.192272
FINANCE                 4.131889
FOOD_AND_DRINK          4.166972
GAME                    4.286326
HEALTH_AND_FITNESS      4.277104
HOUSE_AND_HOME          4.197368
LIBRARIES_AND_DEMO      4.178462
LIFESTYLE               4.094904
MAPS_AND_NAVIGATION     4.051613
MEDICAL                 4.189143
NEWS_AND_MAGAZINES      4.132189
PARENTING               4.300000
PERSONALIZATION         4.335987
PHOTOGRAPHY             4.192114
PRODUCTIVITY            4.211396
SHOPPING                4.259664
SOCIAL                  4.255598
SPORTS                  4.223511
TOOLS                   4.047411
TRAVEL_AND_LOCAL        4.109292
VIDEO_PLAYERS           4.063750
WEATHER                 4.244000
Name: Rating, dtype: float64