<a href="https://colab.research.google.com/github/ormastroni/fundamentos-python/blob/main/aula10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Desenvolvimento Python

## Prof. Andre Victor

### Manipulação de séries a partir de DataFrames

Em problemas reais de análises de dados, frequentemente vamos manipular dados oriundos de uma base de dados de empresas, ou de dados disponibilizados na web.

Como estamos trabalhando no ambiente do Google Colab, vamos carregar um conjunto de dados (conhecido como dataset) a partir de uma pasta do nosso Google Drive

In [1]:
import pandas as pd

Para utilizar o seu Google Drive na máquina virtual do Google Colab, você precisa primeiro "montar" o seu Google Drive no sistema de arquivo da máquina virtual do Google

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AX4XfWijpModzAu416XzLy6c7fkCIcE2sHqEZdNekUnPm7DtqhyZhRrrXEw
Mounted at /content/drive

In [4]:
!ls -la

total 20
drwxr-xr-x 1 root root 4096 Nov 23 00:50 .
drwxr-xr-x 1 root root 4096 Nov 23 00:37 ..
drwxr-xr-x 4 root root 4096 Nov 18 14:35 .config
drwx------ 6 root root 4096 Nov 23 00:50 drive
drwxr-xr-x 1 root root 4096 Nov 18 14:36 sample_data

In [5]:
import os
os.chdir("/content/drive/My Drive/cursos/fundamentos python/curso velho/datasets")

In [6]:
!ls -la

total 2926
-rw------- 1 root root   17294 Jun  2 01:39 auto-miles-per-gallon.csv
-rw------- 1 root root 1360155 Jun  8 23:41 googleplaystore.csv
-rw------- 1 root root 1618040 Jun 13 20:54 Video_Games_Sales_as_at_22_Dec_2016.csv

In [7]:
pd.read_csv('auto-miles-per-gallon.csv')

      MPG  CYLINDERS  ...  MODELYEAR                       NAME
0    18.0          8  ...         70  chevrolet chevelle malibu
1    15.0          8  ...         70          buick skylark 320
2    18.0          8  ...         70         plymouth satellite
3    16.0          8  ...         70              amc rebel sst
4    17.0          8  ...         70                ford torino
..    ...        ...  ...        ...                        ...
392  27.0          4  ...         82            ford mustang gl
393  44.0          4  ...         82                  vw pickup
394  32.0          4  ...         82              dodge rampage
395  28.0          4  ...         82                ford ranger
396  31.0          4  ...         82                 chevy s-10

[397 rows x 8 columns]

In [ ]:
carros = pd.read_csv('auto-miles-per-gallon.csv')
type(carros)

pandas.core.frame.DataFrame

In [ ]:
carros.iloc[0]

MPG                                    18
CYLINDERS                               8
DISPLACEMENT                          307
HORSEPOWER                            130
WEIGHT                               3504
ACCELERATION                           12
MODELYEAR                              70
NAME            chevrolet chevelle malibu
Name: 0, dtype: object

In [ ]:
serie_hp = carros['HORSEPOWER']

In [ ]:
type(serie_hp)

pandas.core.series.Series

In [ ]:
serie_hp.head()

0    130
1    165
2    150
3    150
4    140
Name: HORSEPOWER, dtype: int64

In [ ]:
serie_hp.tail(n=3)

394    84
395    79
396    82
Name: HORSEPOWER, dtype: int64

Se você já conhece a estrutura de dados do arquivo CSV, você pode carregar os dados filtrando as colunas do seu interesse

In [ ]:
carros2 = pd.read_csv('auto-miles-per-gallon.csv', usecols=['NAME', 'HORSEPOWER'], index_col='NAME')

In [ ]:
carros2

                           HORSEPOWER
NAME
chevrolet chevelle malibu         130
buick skylark 320                 165
plymouth satellite                150
amc rebel sst                     150
ford torino                       140
...                               ...
ford mustang gl                    86
vw pickup                          52
dodge rampage                      84
ford ranger                        79
chevy s-10                         82

[397 rows x 1 columns]

In [ ]:
type(carros2)

pandas.core.frame.DataFrame

Apesar de carros2 ser uma estrutura similar a uma Série, na essência ele ainda é um dataframe.

Para carregar um dataframe com 1 única coluna de dados em uma Series, devemos usar o parâmetro squeeze

In [ ]:
carros2 = pd.read_csv('auto-miles-per-gallon.csv', usecols=['NAME', 'HORSEPOWER'], index_col='NAME', squeeze=True)

In [ ]:
type(carros2)

pandas.core.series.Series

In [ ]:
carros2

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                150
ford torino                  140
                            ...
ford mustang gl               86
vw pickup                     52
dodge rampage                 84
ford ranger                   79
chevy s-10                    82
Name: HORSEPOWER, Length: 397, dtype: int64

In [ ]:
carros2['ford torino']

140

In [ ]:
carros2.loc['amc rebel sst']

150

### .size, .shape e len()

In [ ]:
carros2.size

397

In [ ]:
carros2.shape

(397,)

In [ ]:
carros.shape

(397, 8)

In [ ]:
carros.shape[1]

8

In [ ]:
len(carros2)

397

In [ ]:
carros2.size == carros2.shape[0]

True

### Valores únicos da série

In [ ]:
carros2.is_unique

False

In [ ]:
carros2.head(n=3)

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2.head(n=3).is_unique

True

In [ ]:
carros2.head(n=10)

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                150
ford torino                  140
ford galaxie 500             198
chevrolet impala             220
plymouth fury iii            215
pontiac catalina             225
amc ambassador dpl           190
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2.nunique()

93

### Estatística descritiva

In [ ]:
carros2.sum()

41365

In [ ]:
carros2.min()

46

In [ ]:
carros2.max()

230

In [ ]:
carros2.mean()

104.19395465994963

In [ ]:
carros2.sum()/carros2.count()

104.19395465994963

In [ ]:
carros2.median()

92.0

In [ ]:
## Calculando os principais parâmetros estatísiticos todos de uma vez só
carros2.describe()

count    397.000000
mean     104.193955
std       38.318576
min       46.000000
25%       76.000000
50%       92.000000
75%      125.000000
max      230.000000
Name: HORSEPOWER, dtype: float64

In [ ]:
carros2.describe(percentiles=[0.8, 0.2])

count    397.000000
mean     104.193955
std       38.318576
min       46.000000
20%       72.000000
50%       92.000000
80%      140.000000
max      230.000000
Name: HORSEPOWER, dtype: float64

In [ ]:
carros2.mode()

0    150
dtype: int64

In [ ]:
carros2.value_counts()

150    22
90     20
88     19
110    18
100    17
       ..
103     1
94      1
93      1
91      1
102     1
Name: HORSEPOWER, Length: 93, dtype: int64

In [ ]:
carros2[carros2 == 150]

NAME
plymouth satellite                      150
amc rebel sst                           150
chevrolet monte carlo                   150
plymouth fury iii                       150
plymouth fury iii                       150
amc ambassador sst                      150
amc matador (sw)                        150
plymouth satellite custom (sw)          150
amc matador                             150
dodge coronet custom                    150
chevrolet caprice classic               150
plymouth fury gran sedan                150
chevrolet impala                        150
dodge dart custom                       150
buick century luxus (sw)                150
dodge coronet custom (sw)               150
amc matador (sw)                        150
plymouth grand fury                     150
dodge coronet brougham                  150
plymouth volare premier v8              150
dodge d100                              150
chrysler lebaron town @ country (sw)    150
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2[carros2 == 150].size

22

In [ ]:
carros2.value_counts().iloc[0]

22

In [ ]:
carros2.value_counts(normalize=True)

150    0.055416
90     0.050378
88     0.047859
110    0.045340
100    0.042821
         ...
103    0.002519
94     0.002519
93     0.002519
91     0.002519
102    0.002519
Name: HORSEPOWER, Length: 93, dtype: float64

In [ ]:
carros2[carros2 == carros2.max()]

NAME
pontiac grand prix    230
Name: HORSEPOWER, dtype: int64

### Ordenação de valores em Séries

In [ ]:
carros2.sort_values()

NAME
volkswagen 1131 deluxe sedan        46
volkswagen super beetle             46
volkswagen rabbit custom diesel     48
vw rabbit c (diesel)                48
vw dasher (diesel)                  48
                                  ...
chevrolet impala                   220
pontiac catalina                   225
buick estate wagon (sw)            225
buick electra 225 custom           225
pontiac grand prix                 230
Name: HORSEPOWER, Length: 397, dtype: int64

In [ ]:
carros2.sort_values(ascending=False)

NAME
pontiac grand prix                 230
buick electra 225 custom           225
buick estate wagon (sw)            225
pontiac catalina                   225
chevrolet impala                   220
                                  ...
vw dasher (diesel)                  48
vw rabbit c (diesel)                48
volkswagen rabbit custom diesel     48
volkswagen super beetle             46
volkswagen 1131 deluxe sedan        46
Name: HORSEPOWER, Length: 397, dtype: int64

### Filtro em Séries

In [ ]:
carros2.filter(regex='^volks')

NAME
volkswagen 1131 deluxe sedan       46
volkswagen model 111               60
volkswagen type 3                  54
volkswagen 411 (sw)                76
volkswagen super beetle            46
volkswagen dasher                  67
volkswagen dasher                  71
volkswagen rabbit                  70
volkswagen rabbit                  71
volkswagen rabbit custom           78
volkswagen dasher                  78
volkswagen rabbit custom diesel    48
volkswagen scirocco                71
volkswagen jetta                   74
volkswagen rabbit l                74
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2.filter(like='diesel')

NAME
volkswagen rabbit custom diesel      48
vw rabbit c (diesel)                 48
vw dasher (diesel)                   48
audi 5000s (diesel)                  67
peugeot 505s turbo diesel            80
volvo diesel                         76
oldsmobile cutlass ciera (diesel)    85
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2[carros2 > 180]

NAME
ford galaxie 500                198
chevrolet impala                220
plymouth fury iii               215
pontiac catalina                225
amc ambassador dpl              190
buick estate wagon (sw)         225
ford f250                       215
chevy c20                       200
dodge d200                      210
hi 1200d                        193
mercury marquis                 208
chrysler newport royal          190
mercury marquis brougham        198
chrysler new yorker brougham    215
buick electra 225 custom        225
pontiac grand prix              230
chrysler cordoba                190
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2.loc[carros2 > 180]

NAME
ford galaxie 500                198
chevrolet impala                220
plymouth fury iii               215
pontiac catalina                225
amc ambassador dpl              190
buick estate wagon (sw)         225
ford f250                       215
chevy c20                       200
dodge d200                      210
hi 1200d                        193
mercury marquis                 208
chrysler newport royal          190
mercury marquis brougham        198
chrysler new yorker brougham    215
buick electra 225 custom        225
pontiac grand prix              230
chrysler cordoba                190
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                150
ford torino                  140
                            ...
ford mustang gl               86
vw pickup                     52
dodge rampage                 84
ford ranger                   79
chevy s-10                    82
Name: HORSEPOWER, Length: 397, dtype: int64

In [ ]:
carros2.where(lambda x: x > 180)

NAME
chevrolet chevelle malibu   NaN
buick skylark 320           NaN
plymouth satellite          NaN
amc rebel sst               NaN
ford torino                 NaN
                             ..
ford mustang gl             NaN
vw pickup                   NaN
dodge rampage               NaN
ford ranger                 NaN
chevy s-10                  NaN
Name: HORSEPOWER, Length: 397, dtype: float64

In [ ]:
carros2.where(lambda x: x > 180).dropna()

NAME
ford galaxie 500                198.0
chevrolet impala                220.0
plymouth fury iii               215.0
pontiac catalina                225.0
amc ambassador dpl              190.0
buick estate wagon (sw)         225.0
ford f250                       215.0
chevy c20                       200.0
dodge d200                      210.0
hi 1200d                        193.0
mercury marquis                 208.0
chrysler newport royal          190.0
mercury marquis brougham        198.0
chrysler new yorker brougham    215.0
buick electra 225 custom        225.0
pontiac grand prix              230.0
chrysler cordoba                190.0
Name: HORSEPOWER, dtype: float64

In [ ]:
carros2.where(lambda x: x > 180, other='muito fraco')

NAME
chevrolet chevelle malibu    muito fraco
buick skylark 320            muito fraco
plymouth satellite           muito fraco
amc rebel sst                muito fraco
ford torino                  muito fraco
                                ...
ford mustang gl              muito fraco
vw pickup                    muito fraco
dodge rampage                muito fraco
ford ranger                  muito fraco
chevy s-10                   muito fraco
Name: HORSEPOWER, Length: 397, dtype: object

In [ ]:
carros2.mask(lambda x: x > 180)

NAME
chevrolet chevelle malibu    130.0
buick skylark 320            165.0
plymouth satellite           150.0
amc rebel sst                150.0
ford torino                  140.0
                             ...
ford mustang gl               86.0
vw pickup                     52.0
dodge rampage                 84.0
ford ranger                   79.0
chevy s-10                    82.0
Name: HORSEPOWER, Length: 397, dtype: float64

In [ ]:
carros2.mask(lambda x: x > 180).dropna()

NAME
chevrolet chevelle malibu    130.0
buick skylark 320            165.0
plymouth satellite           150.0
amc rebel sst                150.0
ford torino                  140.0
                             ...
ford mustang gl               86.0
vw pickup                     52.0
dodge rampage                 84.0
ford ranger                   79.0
chevy s-10                    82.0
Name: HORSEPOWER, Length: 380, dtype: float64

In [ ]:
carros2.mask(lambda x: x > 180, 'muito forte')

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                150
ford torino                  140
                            ...
ford mustang gl               86
vw pickup                     52
dodge rampage                 84
ford ranger                   79
chevy s-10                    82
Name: HORSEPOWER, Length: 397, dtype: object

In [ ]:
carros2.mask(lambda x: x > 180, 'muito forte').head(10)

NAME
chevrolet chevelle malibu            130
buick skylark 320                    165
plymouth satellite                   150
amc rebel sst                        150
ford torino                          140
ford galaxie 500             muito forte
chevrolet impala             muito forte
plymouth fury iii            muito forte
pontiac catalina             muito forte
amc ambassador dpl           muito forte
Name: HORSEPOWER, dtype: object

### Atualização de Series e os métodos **update()** e **apply()**

In [ ]:
carros2.head()

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                150
ford torino                  140
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2.loc['amc rebel sst'] = 200
carros2.loc['ford torino'] = 300

In [ ]:
carros2.head()

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                200
ford torino                  300
Name: HORSEPOWER, dtype: int64

In [ ]:
carros2.update(pd.Series(data=[210,310], index=['amc rebel sst', 'ford torino']))

In [ ]:
carros2.head()

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                210
ford torino                  310
Name: HORSEPOWER, dtype: int64

Diferentes opções para atualização em lote dos elementos da Série

In [ ]:
carros2.apply(lambda x: 2*x)

NAME
chevrolet chevelle malibu    260
buick skylark 320            330
plymouth satellite           300
amc rebel sst                420
ford torino                  620
                            ...
ford mustang gl              172
vw pickup                    104
dodge rampage                168
ford ranger                  158
chevy s-10                   164
Name: HORSEPOWER, Length: 397, dtype: int64

In [ ]:
carros2.head()

NAME
chevrolet chevelle malibu    130
buick skylark 320            165
plymouth satellite           150
amc rebel sst                210
ford torino                  310
Name: HORSEPOWER, dtype: int64

In [ ]:
def ajustaHP(x):
  if x < 180:
    return x*2
  return x + 110

In [ ]:
carros2.apply(ajustaHP)

NAME
chevrolet chevelle malibu    260
buick skylark 320            330
plymouth satellite           300
amc rebel sst                320
ford torino                  420
                            ...
ford mustang gl              172
vw pickup                    104
dodge rampage                168
ford ranger                  158
chevy s-10                   164
Name: HORSEPOWER, Length: 397, dtype: int64