<a href="https://colab.research.google.com/github/ormastroni/fundamentos-python/blob/main/Exemplos_AT_Analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Desenvolvimento Python

## prof.: Andre Victor

### Análise de dados

Carregue o dataset **Video_Games_Sales_as_at_22_Dec_2016.csv** que contém as vendas de games em todo mundo

Dataset disponível em https://www.kaggle.com/sidtwr/videogames-sales-dataset?select=Video_Games_Sales_as_at_22_Dec_2016.csv

1) Explique quantos atributos têm esse dataset e faça uma breve explicação sobre o conteúdo de cada um

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os
os.chdir("/content/drive/My Drive/cursos/fundamentos python/shared/datasets")

In [86]:
!ls -la

total 2926
-rw------- 1 root root   17294 Jun  2 01:39 auto-miles-per-gallon.csv
-rw------- 1 root root 1360155 Jun  8 23:41 googleplaystore.csv
-rw------- 1 root root 1618040 Jun 13 20:54 Video_Games_Sales_as_at_22_Dec_2016.csv

In [87]:
import pandas as pd

In [90]:
df_games = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

In [91]:
df_games

                                Name Platform  ...  Developer Rating
0                         Wii Sports      Wii  ...   Nintendo      E
1                  Super Mario Bros.      NES  ...        NaN    NaN
2                     Mario Kart Wii      Wii  ...   Nintendo      E
3                  Wii Sports Resort      Wii  ...   Nintendo      E
4           Pokemon Red/Pokemon Blue       GB  ...        NaN    NaN
...                              ...      ...  ...        ...    ...
16714  Samurai Warriors: Sanada Maru      PS3  ...        NaN    NaN
16715               LMA Manager 2007     X360  ...        NaN    NaN
16716        Haitaka no Psychedelica      PSV  ...        NaN    NaN
16717               Spirits & Spells      GBA  ...        NaN    NaN
16718            Winning Post 8 2016      PSV  ...        NaN    NaN

[16719 rows x 16 columns]

2) Quantos games estão disponíveis no dataset ?

In [92]:
print(f'O numero de games disponível é {df_games.shape[0]}')

O numero de games disponível é 16719

3) Existe algum atributo nesse dataset que não está preenchido (valores nulos) ?

In [93]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

4) Cria 3 séries distintas de valores de vendas: uma para a America do Norte, outra para a Europa e outra para o Japão. Todas indexados pelo nome do game

In [94]:
serie_NA = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv', usecols=['Name', 'NA_Sales'], index_col='Name', squeeze=True)

In [95]:
type(serie_NA)

pandas.core.series.Series

In [96]:
serie_NA.head()

Name
Wii Sports                  41.36
Super Mario Bros.           29.08
Mario Kart Wii              15.68
Wii Sports Resort           15.61
Pokemon Red/Pokemon Blue    11.27
Name: NA_Sales, dtype: float64

In [97]:
serie_JP = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv', usecols=['Name', 'JP_Sales'], index_col='Name', squeeze=True)
serie_JP

Name
Wii Sports                        3.77
Super Mario Bros.                 6.81
Mario Kart Wii                    3.79
Wii Sports Resort                 3.28
Pokemon Red/Pokemon Blue         10.22
                                 ...
Samurai Warriors: Sanada Maru     0.01
LMA Manager 2007                  0.00
Haitaka no Psychedelica           0.01
Spirits & Spells                  0.00
Winning Post 8 2016               0.01
Name: JP_Sales, Length: 16719, dtype: float64

In [98]:
serie_EU = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv', usecols=['Name', 'EU_Sales'], index_col='Name', squeeze=True)
serie_EU

Name
Wii Sports                       28.96
Super Mario Bros.                 3.58
Mario Kart Wii                   12.76
Wii Sports Resort                10.93
Pokemon Red/Pokemon Blue          8.89
                                 ...
Samurai Warriors: Sanada Maru     0.00
LMA Manager 2007                  0.01
Haitaka no Psychedelica           0.00
Spirits & Spells                  0.00
Winning Post 8 2016               0.00
Name: EU_Sales, Length: 16719, dtype: float64

5) Converta o atributo Year_of_Release no dataframe para inteiro

In [99]:
df_games['Year_of_Release'] = df_games['Year_of_Release'].astype(int)

ValueError: ignored

In [100]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [101]:
df_sem_nulos = df_games.dropna(subset=['Year_of_Release'])

In [102]:
df_sem_nulos.head(10)

                        Name Platform  ...  Developer Rating
0                 Wii Sports      Wii  ...   Nintendo      E
1          Super Mario Bros.      NES  ...        NaN    NaN
2             Mario Kart Wii      Wii  ...   Nintendo      E
3          Wii Sports Resort      Wii  ...   Nintendo      E
4   Pokemon Red/Pokemon Blue       GB  ...        NaN    NaN
5                     Tetris       GB  ...        NaN    NaN
6      New Super Mario Bros.       DS  ...   Nintendo      E
7                   Wii Play      Wii  ...   Nintendo      E
8  New Super Mario Bros. Wii      Wii  ...   Nintendo      E
9                  Duck Hunt      NES  ...        NaN    NaN

[10 rows x 16 columns]

In [104]:
df_sem_nulos.shape

(16450, 16)

In [105]:
df_sem_nulos['Year_of_Release'] = df_sem_nulos['Year_of_Release'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [106]:
df_sem_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16450 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16448 non-null  object
 1   Platform         16450 non-null  object
 2   Year_of_Release  16450 non-null  int64
 3   Genre            16448 non-null  object
 4   Publisher        16418 non-null  object
 5   NA_Sales         16450 non-null  float64
 6   EU_Sales         16450 non-null  float64
 7   JP_Sales         16450 non-null  float64
 8   Other_Sales      16450 non-null  float64
 9   Global_Sales     16450 non-null  float64
 10  Critic_Score     7983 non-null   float64
 11  Critic_Count     7983 non-null   float64
 12  User_Score       9840 non-null   object
 13  User_Count       7463 non-null   float64
 14  Developer        9907 non-null   object
 15  Rating           9769 non-null   object
dtypes: float64(8), int64(1), object(7)
memory usage: 2.1+ MB

6) Remova as linhas que tenham algum atributo nulo entre os atributos de vendas pelo mundo

In [107]:
df_sem_nulos2 = df_games.dropna()

In [108]:
df_sem_nulos2.shape

(6825, 16)

In [109]:
print(f'Numero de games com o ano preenchido: {df_sem_nulos.shape[0]}')
print(f'Numero de games com todos preenchidos: {df_sem_nulos2.shape[0]}')

Numero de games com o ano preenchido: 16450
Numero de games com todos preenchidos: 6825

In [110]:
serie_NA.size

16719

7) Quantos valores distintos existem para cada série ?

In [111]:
serie_NA.value_counts()

0.00    4511
0.02     576
0.03     561
0.04     549
0.01     545
        ...
4.98       1
4.21       1
6.82       1
5.05       1
9.00       1
Name: NA_Sales, Length: 402, dtype: int64

8) Qual o game mais vendido na América do Norte ?

In [112]:
serie_NA[serie_NA == serie_NA.max()]

Name
Wii Sports    41.36
Name: NA_Sales, dtype: float64

9) Qual o game mais vendido na Europa ?

In [113]:
serie_EU[serie_EU == serie_EU.max()]

Name
Wii Sports    28.96
Name: EU_Sales, dtype: float64

10) Qual o game mais vendido no Japão ?

In [114]:
serie_JP[serie_JP == serie_JP.max()]

Name
Pokemon Red/Pokemon Blue    10.22
Name: JP_Sales, dtype: float64

11) Qual das 3 localidades (America do Norte, Europa e Japão) tem a maior média de games vendida ?

In [115]:
serie_NA.head()

Name
Wii Sports                  41.36
Super Mario Bros.           29.08
Mario Kart Wii              15.68
Wii Sports Resort           15.61
Pokemon Red/Pokemon Blue    11.27
Name: NA_Sales, dtype: float64

In [116]:
serie_EU.head()

Name
Wii Sports                  28.96
Super Mario Bros.            3.58
Mario Kart Wii              12.76
Wii Sports Resort           10.93
Pokemon Red/Pokemon Blue     8.89
Name: EU_Sales, dtype: float64

In [117]:
serie_JP.head()

Name
Wii Sports                   3.77
Super Mario Bros.            6.81
Mario Kart Wii               3.79
Wii Sports Resort            3.28
Pokemon Red/Pokemon Blue    10.22
Name: JP_Sales, dtype: float64

12) Qual o game menos vendido no mundo em números absolutos ?

In [125]:
df_games.shape

(16719, 17)

In [123]:
df_games['Mundial'] = df_games['NA_Sales'] + df_games['JP_Sales'] + df_games['EU_Sales']

In [124]:
df_games.shape

(16719, 17)

In [54]:
df_games.head(10)

                        Name Platform  ...  Rating Mundial
0                 Wii Sports      Wii  ...       E   74.09
1          Super Mario Bros.      NES  ...     NaN   39.47
2             Mario Kart Wii      Wii  ...       E   32.23
3          Wii Sports Resort      Wii  ...       E   29.82
4   Pokemon Red/Pokemon Blue       GB  ...     NaN   30.38
5                     Tetris       GB  ...     NaN   29.68
6      New Super Mario Bros.       DS  ...       E   26.92
7                   Wii Play      Wii  ...       E   26.07
8  New Super Mario Bros. Wii      Wii  ...       E   26.08
9                  Duck Hunt      NES  ...     NaN   27.84

[10 rows x 17 columns]

In [126]:
df_total = df_games[['Name', 'Mundial']]

In [127]:
df_total.head(10)

                        Name  Mundial
0                 Wii Sports    74.09
1          Super Mario Bros.    39.47
2             Mario Kart Wii    32.23
3          Wii Sports Resort    29.82
4   Pokemon Red/Pokemon Blue    30.38
5                     Tetris    29.68
6      New Super Mario Bros.    26.92
7                   Wii Play    26.07
8  New Super Mario Bros. Wii    26.08
9                  Duck Hunt    27.84

In [128]:
df_total.describe()

            Mundial
count  16719.000000
mean       0.485957
std        1.413616
min        0.000000
25%        0.060000
50%        0.150000
75%        0.430000
max       74.090000

In [130]:
df_total.max()

Mundial    74.09
dtype: float64

In [129]:
df_games[df_games['Mundial'] == 0]

                                                   Name  ... Mundial
8046           Summer Athletics: The Ultimate Challenge  ...     0.0
16680                                  G1 Jockey 4 2008  ...     0.0
16713  SCORE International Baja 1000: The Official Game  ...     0.0

[3 rows x 17 columns]

In [131]:
serie2 = df_games['Mundial']

In [132]:
serie2

0        74.09
1        39.47
2        32.23
3        29.82
4        30.38
         ...
16714     0.01
16715     0.01
16716     0.01
16717     0.01
16718     0.01
Name: Mundial, Length: 16719, dtype: float64

In [133]:
serie2.index = df_games['Name']

In [134]:
serie2

Name
Wii Sports                       74.09
Super Mario Bros.                39.47
Mario Kart Wii                   32.23
Wii Sports Resort                29.82
Pokemon Red/Pokemon Blue         30.38
                                 ...
Samurai Warriors: Sanada Maru     0.01
LMA Manager 2007                  0.01
Haitaka no Psychedelica           0.01
Spirits & Spells                  0.01
Winning Post 8 2016               0.01
Name: Mundial, Length: 16719, dtype: float64

In [135]:
serie2.min()

0.0

In [136]:
serie2[serie2 == 0]

Name
Summer Athletics: The Ultimate Challenge            0.0
G1 Jockey 4 2008                                    0.0
SCORE International Baja 1000: The Official Game    0.0
Name: Mundial, dtype: float64

Qual a plataforma de games mais popular (mais vendas) na Europa?

In [137]:
df_games['Platform'].value_counts()

PS2     2161
DS      2152
PS3     1331
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
GC       556
3DS      520
PSV      432
PS4      393
N64      319
XOne     247
SNES     239
SAT      173
WiiU     147
2600     133
GB        98
NES       98
DC        52
GEN       29
NG        12
WS         6
SCD        6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

In [ ]:
serie_plataformas = df_games['Platform'].value_counts()

In [ ]:
serie_plataformas

PS2     2161
DS      2152
PS3     1331
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
GC       556
3DS      520
PSV      432
PS4      393
N64      319
XOne     247
SNES     239
SAT      173
WiiU     147
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

In [138]:
df_grupo2 = df_games.groupby(['Platform']).sum()[['NA_Sales', 'EU_Sales', 'JP_Sales']]

In [139]:
df_grupo2

          NA_Sales  EU_Sales  JP_Sales
Platform
2600         90.60      5.47      0.00
3DO           0.00      0.00      0.10
3DS          83.49     61.48    100.67
DC            5.43      1.69      8.56
DS          382.67    188.89    175.57
GB          114.32     47.82     85.12
GBA         187.54     75.25     47.33
GC          133.46     38.71     21.58
GEN          21.05      6.05      2.70
GG            0.00      0.00      0.04
N64         139.02     41.06     34.22
NES         125.94     21.15     98.65
NG            0.00      0.00      1.44
PC           94.53    142.44      0.17
PCFX          0.00      0.00      0.03
PS          336.52    213.61    139.82
PS2         583.84    339.29    139.20
PS3         393.49    330.29     80.19
PS4         108.74    141.09     16.00
PSP         109.17     66.68     76.78
PSV          12.58     13.12     21.93
SAT           0.72      0.54     32.26
SCD           1.00      0.36      0.45
SNES         61.23     19.04    116.55
TG16          0.00      0.00      0.16
WS            0.00      0.00      1.42
Wii         496.90    262.21     69.33
WiiU         38.10     25.13     13.01
X360        602.47    270.76     12.43
XB          186.69     60.95      1.38
XOne         93.12     51.59      0.34

In [140]:
df_stats_grupo2 = df_grupo2.describe()

In [141]:
df_stats_grupo2

         NA_Sales    EU_Sales    JP_Sales
count   31.000000   31.000000   31.000000
mean   142.020000   78.215161   41.852581
std    176.867128  104.171644   51.427399
min      0.000000    0.000000    0.000000
25%      3.215000    1.115000    0.915000
50%     93.120000   38.710000   16.000000
75%    162.855000  108.170000   78.485000
max    602.470000  339.290000  175.570000

In [143]:
max_vendas_EU = df_stats_grupo2.loc['max', 'EU_Sales']

In [144]:
max_vendas_EU

339.2899999999957

In [145]:
plataforma_EU = df_grupo2[df_grupo2['EU_Sales'] == max_vendas_EU]

In [146]:
plataforma_EU

          NA_Sales  EU_Sales  JP_Sales
Platform
PS2         583.84    339.29     139.2

In [147]:
df_grupo = df_games.groupby(['Platform', 'Genre']).sum()[['NA_Sales', 'EU_Sales', 'JP_Sales']]

In [148]:
df_grupo

                       NA_Sales  EU_Sales  JP_Sales
Platform Genre
2600     Action           27.39      1.64      0.00
         Adventure         1.59      0.10      0.00
         Fighting          1.16      0.07      0.00
         Misc              3.34      0.20      0.00
         Platform         12.38      0.72      0.00
...                         ...       ...       ...
XOne     Role-Playing      6.15      3.43      0.01
         Shooter          36.86     17.80      0.16
         Simulation        0.32      0.31      0.00
         Sports           15.59      8.73      0.02
         Strategy          0.27      0.11      0.00

[293 rows x 3 columns]

In [83]:
df_grupo.loc['XOne', 'Sports']['NA_Sales']

15.589999999999998